#*  Dependency directories
node_modules

#* Environment variables
.env
.env.test

#* Postgres volume
.postgres-data

#* Tests
coverage

#* Build output
/src/generated/prisma

#* Miscellaneous
.husky

